<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
</body>

  <!-- Footer -->
  <footer class="page-footer font-small blue" style="padding-top: 100px; background-color: #05a081;" >
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="color: white;padding-bottom: 20px;">© 2020 Copyright:
      <a href="https://mdbootstrap.com/" style="color: white;"> GallaApp.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>