{% extends 'base.html' %} 
{% block content %}
    <div class="container" style="padding-bottom: 20px;" >
        <h1 class="text-center">Wecome to Galla App</h1>
        <p class="text-center">View,download and share your favourite images from the different categories of images,checkout out the gallery below</p>
        <h1 >{{ test }}</h1>
        <hr>
        {% for image in images %}
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
            <div class="card" >
                <a id="link" type="button"  data-toggle="modal" data-target="#exampleModalLong{{image.id}}">
                <img src="{{image.img.url}}"  class="img-responsive" alt="{{image.name}}" style="width:100%" >
                </a>
                <div class="container">
                    <h5 >Location: {{image.location}}</h5>
                </div>
            </div>
        </div>
        <div class="modal fade bd-example-modal-lg" id="exampleModalLong{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="exampleModalLongTitle">{{ image.name}}</h2>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{image.img.url}}" class="img-responsive" width="100%"><br>
                        <a href="{{image.img.url}}" download="{{image.name}}" class="btn btn-success" style="float: right;">Download</a><br>
                        <h4 style="font-weight: bold;">Description: {{image.description}}<h4>
                        <h5 >category: {{image.category}} </h5>
                        <h5 >shot location: {{image.location}} </h5>
                        <br><br>
                        
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

{% endblock %} 

        
