h1{
    color:#05a081;
    font-weight: bold;
}
.navbar{
    background-color: #232a34;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0rem;
    border-color:#232a34;
}
span{
    font-weight: bold;
    color:#05a081;
}
i{
    font-weight: bold;
    color:white;
}