h1{
    color:#05a081;
    font-weight: bold;
}
.navbar{
    background-color: #232a34;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0rem;
    border-color:#232a34;
}
span{
    font-weight: bold;
    color:#05a081;
}
i{
    font-weight: bold;
    color:white;
}


p{
    padding-top: 10px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }